* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body {
    background-color: #fc9d05;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
}

img {
    background-color:#f69904ea ;
    width: 10%;
    margin-top: 25px;
}

h1 {
    font-style: normal;
    
    font-size: 50px;
    line-height: 50px;
    color: #0d0909;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 36px;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 20px;
    line-height: 38px;
    color: #050505;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 36px;
}

input {
    background: rgba(255, 255, 255, 0.925);
    border: 1px solid rgba(255, 255, 255, 0.925);
    border-radius: 14px;
    height: 50px;
    width: 342px;
    padding-left: 20px;
    font-weight: 500px;
    font-size: 35px;
    line-height: 47px;
    color: #0a0a0a;
    opacity: 0, 7;
}

.input-min {
    margin-right: 60px;
}

button {
    background: #f31602 ;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0, 35);
    border-radius: 30px;
    font-weight: 700;
    font-size: 30px;
    border: none;
    margin-top: 45px;
    cursor: pointer;
    width: 300px;
   
}
#result {
    font-size: 40px;
    margin-top: 30px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}